__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
dist/
*.egg-info/
.eggs/
.env
.venv
.envrc
.DS_Store
pytestcache/
.pytest_cache/
/etc/config.yaml
/etc/config.example.yaml
/live_results.json
/live_debug.jsonl
/live_results.json.bak.*
